# Dataset Configuration
DATASET_PATH=./data/raw/hotel_bookings.csv

# Database Configuration (Optional)
DATABASE_URL=your_database_url

# Streamlit Configuration
STREAMLIT_SERVER_PORT=8501

# Environment
ENVIRONMENT=development

# Debug Mode
DEBUG=True